
__pycache__/*
__pycache__/CalculateCarData.cpython-39.pyc
__pycache__/GUI.cpython-39.pyc
*.pyc
*.pyc
*.pyc
__pycache__/GUI.cpython-39.pyc
__pycache__/CalculateCarData.cpython-39.pyc
*.pyc
configs/
!configs/default.cfg